.about {
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}
.header {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header button {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.header button:hover {
    transform: scale(1.1) translateX(-5px);
}
.secondRow {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 15px;
}
@media (max-width: 750px) {
    .about {
        display: flex !important;
        flex-direction: column;
        overflow-y: auto;
        padding: 10px 0;
    }
    .header {
        position: fixed;
        border: 1px solid lightgray;
        left: 5px;
        top: 10px;
        width: calc(100vw - 10px);
    }
    .topRow {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        height: fit-content;
    }
    .secondRow {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        height: auto !important;
    }
    .aboutMe, .education, .languages {
        height: fit-content !important;
        background-color: white;
        border-radius: 5px;
    }
}

.aboutMe, .education, .languages {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
.education .cardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.educationItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.languages .cardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.languageItem {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 20px;
}
.languageItem .languageLevel {
    display: grid;
    grid-template-columns: repeat(6, 15px);
    gap: 5px;
}
.languageItem .languageLevel .filledDot,
.languageItem .languageLevel .emptyDot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.languageItem .languageLevel .filledDot {
    background-color: rgb(0, 0, 0);
}
.topRow {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}
.bottomRow{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.experience{
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.experience .cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 30px;
}
.experienceItem,
.courseItem {
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-left: 4px solid black;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}
.experienceHeader,
.courseHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.experienceItem ul{
    padding-left: 25px;
}

.jobSkills{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-position: inside;
    gap: 5px;
}
.jobSkills p{
    padding: 0 5px;
}
.cardTitle{
    height: 30px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.courses {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
.courses .cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 50px;
}
.courseItem ul{
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    gap: 5px;
}
.courseItem ul li {
    list-style-type: none;
    padding: 0 5px;
}


.mySkills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mySkills .category {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}