.sectionTitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.sectionTitle h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--text-color);
}
.sectionTitle .sectionLine {
    width: 100px;
    height: 5px;
    background-color: var(--accent);
    border-radius: 10px;
}