.cv {
    width: 350px;
    height: auto;
    background-color: white;
    padding: 10px;
    z-index: 10;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    animation: showCV 0.5s;
}
@keyframes showCV {
    0% {
        bottom: -120%;
        opacity: 0;
    }
    70% {
        bottom: 30px;
        opacity: 1;
    }
    100% {
        bottom: 10px;
    }
}
.cv a {
    width: 100%;
    background-color: lightgray;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 10px;
}
.header button {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.contactButton {
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}