.qna {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: grid;
    grid-template-rows: 30px 1fr;
    overflow: hidden;
}
.qna .header {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    font-size: 1.2rem;
}
.qna .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 500px) {
    .qna {
        height: fit-content;
    }
}
.qnaItem {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: height 0.1s;
}
.qnaItem .top {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.answer {
    overflow: hidden;
    height: 0px;
    transition: height 0.1s;
    display: flex;
    flex-direction: column !important;
    gap: 10px;
}
.qnaItem.expandedItem .answer {
    transition: height 0.1s;
    padding-top: 10px;
}
.qnaItem svg {
    position: absolute;
    right: 5px;
    height: 15px;
    width: 15px;
}
.qnaItem.expandedItem svg {
    transform: rotateZ(-90deg);
}
