*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    flex-shrink: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 750px) {
    .componentShown .profilePicture {
        display: none;
    }
    .componentShown .fullName {
        display: none;
    }
    .componentShown .buttonsContainer {
        margin-top: 50px;
        padding: 0;
    }
    .shareButton {
        display: none !important;
    }
    .secondaryShareButton {
        display: flex !important;
    }
}
@media (min-width: 750px) {
    .secondaryShareButton {
        display: none !important;
    }
}

.main.componentShown {
    height: 100%;
    padding: 25px 0;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.profilePicture{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.componentShown .buttonsContainer {
    margin-bottom: auto;
}
.socialButton{
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 50px 1fr;
    border-radius: 5px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    flex-shrink: 0;
    border: none;
    transition: all 0.1s;
    overflow: hidden;
}
.socialButton .socialIcon{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.socialButton p{
    width: 100%;
    text-align: start;
}
.socialButton:hover{
    transition: all 0.1s;
    transform: scale(1.05);
}

.shareButton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 20px;
}
.shareButton button{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all 0.1s;
}
.shareButton button:hover{
    border: 1px solid white;
    transition: all 0.1s;
    transform: scale(1.05);
}
.modal.show-modal{
    display: grid;
    position: fixed;
    bottom: 25px;
    animation: slideUpModal 0.1s;
}

#notifications{
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 40vh;
    width: 300px;
    align-items: center;
}


.cvButton {
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.1s;
}
.cvButton:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}

/* Chrome, Edge, Safari */
#notifications::-webkit-scrollbar{
    display: none;
}
#notifications{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

#notifications p{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    animation: popNotification 0.1s;
}
@keyframes popNotification {
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}



