.flipCard {
    background-color: transparent;
    width: 100%; 
    max-width: 450px;
    margin-left: auto;
    perspective: 1000px;
    cursor: pointer;
}
@media (max-width: 700px) {
    .flipCard {
        height: auto;
    }
}

.cardTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 3px gray;
    padding: 5px 10px;
}
.cardTop svg {
    height: 30px;
    width: 30px;
    color: var(--accent);
}
.stars {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    flex-wrap: wrap;
}
.stars svg {
    color: rgb(255, 238, 0);
    height: 25px;
    width: 25px;
    background-color: var(--accent);
    border-radius: 100%;
    padding: 5px;
}
.imageContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--accent);
    border-radius: 10px;
}
.imageContainer img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}
.cardInfo {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: auto;
    text-align-last: start;
    width: 100%;
    border: 1px solid var(--border)
}
.stats {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-top: 1px solid var(--border);
    margin-top: 15px;
    height: 40px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    width: 100%;
    height: 80%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border: 1px solid #6365f13b;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--item-background);
}
.cardFront {
    position: relative;
    z-index: 2;
}
.cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
}