.projects {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.projectsHeader {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}
.projectsHeader button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}
.projectsHeader button:hover {
    transform: scale(1.1) translateX(-5px);
    transition: all 0.1s;
}
.projectHeader h2 {
    height: 100%;
}
.project {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.project .projectDescription {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 25px;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: auto;
}
.technologies p{
    padding-right: 10px;
    font-size: 0.8rem;
}
.project a{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.1s;
    text-decoration: none;
    color: white;
}
.project a:hover{
    transform: scale(1.05);
    transition: all 0.1s;
}
.project a img{
    width: 25px;
    height: 25px;
}
.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}
.buttons a{
    flex: 1;
}
.projectHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projectStatus{
    display: flex;
    gap: 5px;
    align-items: center;
}
.status {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.status.active {
    background-color: green;
}
.status.paused {
    background-color: orange;
}
.status.dropped {
    background-color: red;
}