.contact {
    width: fit-content;
    min-width: 400px;
    height: fit-content;
    bottom: 10px;
    right: 10px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    animation: showContact 0.1s;
    z-index: 10;
}
@media (max-width: 600px) {
    .contact {
        width: calc(100vw - 20px);
        min-width: auto;
        right: 10px;
    }
}
@keyframes showContact {
    from {
        right: -120%;
        opacity: 0;
    }
    to {
        right: 10px;
        opacity: 1;
    }
}
.contact .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.contact .closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.contentRow {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    gap: 10px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    color: black;
}
form textarea {
    height: 60px;
}
form button {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
}