.modal{
    width: 300px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 15px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    animation: slideUpModal 0.2s;
    transition: all 0.1s;
    z-index: 100;
    display: grid;
    position: fixed;
}
@keyframes slideUpModal {
    from{
        bottom: -120%;
        opacity: 0;
    }
    to{
        bottom: 25px;
        opacity: 1;
    }
}
.modal p{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: lightgray;
    border-radius: 10px;
    height: fit-content;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal svg{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 30px;
    height: 30px;
}
.modal button{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    justify-self: center;
}