.experience {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: grid;
    grid-template-rows: 30px 1fr;
    overflow: hidden;
}
@media (max-width: 500px) {
    .experience {
        height: fit-content;
    }
}
.experience .header {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    font-size: 1.2rem;
}
.experience .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
.experienceItem {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: height 0.1s;
}
.experienceItem .moreInfo {
    overflow: hidden;
    height: 0px;
    transition: height 0.1s;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.experienceItem.expandedItem .moreInfo {
    height: auto;
    transition: height 0.1s;
    margin-top: 10px;
}
.experienceItem .moreInfo ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: disc;
    padding-left: 1.5rem;
}
.experienceItem .experienceHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 30px;
    align-items: center;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.experienceHeader svg {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 15px;
    width: 15px;
}
.experienceItem.expandedItem svg {
    transform: rotateZ(-90deg);
}
.experienceItem.expandedItem .shortDescription {
    display: none;
}
.experienceItem .jobSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.jobSkills p {
    background-color: rgba(230, 230, 230, 0.692);
    padding: 5px;
    border-radius: 5px;
}