.navigation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-background);
    padding-right: 15px;
}
.buttons {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navigationButtons {
    display: flex;
    align-items: center;
    height: 100%;
}
.navigationButtons button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.contactButtons {
    display: flex;
    align-items: center;
    height: 100%;
}
.contactButtons button,
.contactButtons a {
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
.contactButtons button svg,
.contactButtons a svg {
    height: 60%;
    width: 60%;
    color: var(--text-color);
}
.contactButtons .divider {
    height: 30px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
button:hover,
a:hover{
    color: var(--accent) !important;
    fill: var(--accent) !important;
    transition: all 0.1s;
    transform: translateY(-5px)
}
button:hover svg,
a:hover svg {
    color: var(--accent);
}
button,
a{ 
    transition: all 0.1s;
}
.mobileMenuButton {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    display: none;
}
.mobileMenuButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-color);
}

@media (max-width: 700px) {
    .buttons .navigationButtons,
    .buttons .contactButtons {
        display: none;
    }
    .mobileMenuButton {
        display: flex !important;
    }
    .mobileMenu {
        display: flex !important;
    }
}

.mobileMenu {
    background-color: var(--item-background);
    width: 100dvw;
    height: 410px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 10;
    animation: showMobileMenu 0.2s;
    overflow: hidden;
    padding: 0 20px;
    border-bottom: 1px solid var(--border);
}
@keyframes showMobileMenu {
    from {
        opacity: 0;
        height: 0px;
    }
    to {
        opacity: 1;
        height: 410px;
    }
}
.mobileMenu button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    height: 50px;
    color: var(--text-color);
    flex-shrink: 0;
}
.mobileMenu .contactButtons {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid rgba(211, 211, 211, 0.2);
}
.mobileMenu .contactButtons a,
.mobileMenu .contactButtons button {
    height: 50px;
    width: 50px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.mobileMenu .contactButtons svg {
    height: 30px;
    width: 30px;
    color: var(--text-color);
}