.hero {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 40%;
}
.heroContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}

.hero .accentText {
    color: var(--accent);
}

.hero .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}
.hero .buttons button,
.hero .buttons a {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid var(--border);
    color: var(--text-color);
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 1.25rem;
    text-decoration: none;
}
.hero .buttons button:hover,
.hero .buttons a:hover {
    transform: translateY(-5px);
}
.hero .viewProjects:hover{
    color: var(--text-on-accent) !important;
}
.hero .viewProjects:hover svg{
    color: var(--text-on-accent) !important;
}
.hero .viewProjects {
    background-color: var(--accent) !important;
    color: var(--text-on-accent);
}
.hero .buttons button svg,
.hero .buttons a svg{
    height: 20px;
    width: 20px;
}
.hero h1 {
    font-size: 4rem;
}
.hero h2 {
    font-size: 3rem;
    opacity: 0.6;
}
.hero p {
    margin-top: 20px;
    font-size: 1.25rem;
    opacity: 0.7;
}

@media (max-width: 700px){
    .hero {
        padding-right: 20px;
    }
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2rem !important;
    }
    .buttons {
        gap: 20px !important;
        flex-direction: column;
        display: flex;
    }
    .buttons button,
    .buttons a {
        width: 100% !important;
    }
}