.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.job {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    position: relative;
    border-left: 1px solid var(--border);
    padding: 0 20px 40px 40px;
}
.job .ring {
    border: 2px solid var(--accent);
    border-radius: 25px;
    height: 16px;
    width: 16px;
    position: absolute;
    left: -8px;
    top: 0;
    background-color: var(--primary-background);
}
.job h3 {
    font-size: 1.25rem;
    font-weight: bold;
}
.job .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.job .top p {
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 10px;
    padding: 5px 10px;
}
.job p {
    color: var(--muted-text);
}
.job b {
    color: var(--muted-text);
}

@media (max-width: 700px) {
    .job .top {
        flex-direction: column !important;
        align-content: flex-start !important;
        justify-content: flex-start !important;
        width: 100%;
        gap: 10px;
    }
    .job .top h3{
        width: 100%;
    }
    .job .top p{
        margin-right: auto;
    }
}