.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.project {
    width: 100%;
    height: 100%;
    background-color: #0e162a;
    border: 1px solid var(--item-border);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    border-radius: 10px;
    transition: all 0.1s;
    cursor: pointer;
    overflow: hidden;
}
.project:hover {
    border-color: var(--accent);
    transform: translateY(-5px) scale(101%) !important;
    transition: all 0.1s;
}
.project .thumbnailContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project .thumbnailContainer img {
    width: 100%;
}
.project p {
    opacity: 0.5;
    padding: 0 20px 20px 20px;
}

.project h3 {
    padding: 0 20px;
}
@media (max-width: 700px){
    .projectsContainer {
        display: flex !important;
        flex-direction: column;
    }
    .project {
        height: fit-content !important;
    }
}
