*{
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: all 0.1s;
}

.App{
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a1c4fd, #c2e9fb);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  backdrop-filter: blur(50px);
  overflow: hidden;
  padding: 0 20px;
}
.App.showComponent {
  grid-template-columns: 300px 3fr;
}
.app-header {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}
.app-header button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 10px;
  padding: 10px;
}
.component-container.show-component {
  animation: expandContainer 0.1s;
  transform-origin: right;
  flex-grow: 1;
  transition: all 0.1s;
  max-width: 100%;
}
.component-container .content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 750px) {
  .App {
    padding: 0 10px;
  }
  .App.showComponent{
    grid-template-columns: 50px 1fr !important;
  }
}
@media (max-width: 450px) {
  .App {
    padding: 0 10px;
    gap: 0;
  }
  .App.showComponent{
    grid-template-columns: 0 1fr !important;
  }
}
