* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.App {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--primary-background);
  overflow: hidden;
  display: grid;
  grid-template-rows: 75px 1fr;
}

.main-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 120px;
}
@media (max-width: 700px){
  .main-page{
    padding: 20px;
  }
}

/* Other blacks: 121212 0f172a   */