*{
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  transition: all 0.1s;
}

.App{
  width: 100vw;
  height: 100vh;
  max-width: 100vw !important;
  max-height: 100vh !important;
  display: grid;
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a1c4fd, #c2e9fb);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  grid-template-columns: 300px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  backdrop-filter: blur(50px);
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}
.App.showComponent {
  grid-template-columns: 300px 3fr;
}
.app-header {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}
.app-header button {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-container {
  height: 100vh;
  display: none;
  grid-template-rows: 50px 1fr;
  gap: 10px;
  padding: 10px;
}
.component-container.show-component {
  animation: expandContainer 0.1s;
  transform-origin: right;
  flex-grow: 1;
  transition: all 0.1s;
  max-width: 100%;
  display: grid;
}
.component-container .content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 750px) {
  .App {
    padding: 0 10px;
  }
  .App.showComponent{
    grid-template-columns: 50px 1fr !important;
  }
}
@media (max-width: 450px) {
  .App {
    padding: 0 10px;
    gap: 0;
  }
  .App.showComponent{
    grid-template-columns: 0 1fr !important;
  }
}


/* Scrollbar styling */

.scrollbar-white {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.scrollbar-white::-webkit-scrollbar {
  background: transparent;
}

.scrollbar-white::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-white::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}






#notifications{
    position: fixed;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 40vh;
    width: calc(100% - 20px);
    max-width: 400px;
    align-items: center;
    z-index: 100;
}
/* Chrome, Edge, Safari */
#notifications::-webkit-scrollbar{
    display: none;
}
#notifications{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

#notifications p{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    animation: popNotification 0.1s;
}
@keyframes popNotification {
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}